.catalog-groups__list {
  .list-style();
  margin-top: 21px;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-top: -4px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.catalog-groups__item {
  background-color: @basic-grey;
  margin-bottom: 21px;
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.catalog-groups__item::before {
  content: "";
  position: absolute;
  width: 240px;
  height: 1px;
  background-color: #d9d9d9;
  bottom: 57px;
  left: 20px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.catalog-groups__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  text-align: center;

  margin-top: 29px;
  margin-left: 10px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    text-align: left;

    margin-top: 77px;
    margin-left: 53px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    padding-left: 214px;
  }
}

.catalog-groups__title-2 {
  margin-left: 39px;

  @media (min-width: @tablet-width) {
    margin-left: 53px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
  }
}

.catalog-groups__cat-icon {
  position: absolute;
}

.catalog-groups__cat-icon-1 {
  top: 21px;
  left: 22px;

  @media (min-width: @tablet-width) {
    width: 200px;
    height: 211px;

    top: 79px;
    left: 446px;
  }

  @media (min-width: @desktop-width) {
    width: 100px;
    height: 106px;

    top: 41px;
    left: 52px;
  }
}

.catalog-groups__cat-icon-2 {
  top: 23px;
  left: 13px;

  @media (min-width: @tablet-width) {
    width: 268px;
    height: 200px;

    top: 91px;
    left: 412px;
  }

  @media (min-width: @desktop-width) {
    width: 134px;
    height: 100px;

    top: 47px;
    left: 33px;
  }
}

.catalog-groups__description {
  font-family: "Arial", "Helvetica", sans-serif;
  margin: 29px 33px 43px 20px;
  .text-typo-mob();

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;

    width: 340px;
    margin: 24px 0 50px 52px;
  }

  @media (min-width: @desktop-width) {
    width: 470px;
    margin: 73px 0 27px 52px;
  }
}

.catalog-groups__link {
  width: max-content;
  margin-left: 20px;
  margin-bottom: 18px;

  @media (min-width: @tablet-width) {
    margin-left: 52px;
    margin-bottom: 58px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 59px;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog-groups__link-name {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin-right: 13px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-right: 23px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 28px;
  }
}

.catalog-groups__link svg {
  margin-bottom: 2px;
  cursor: pointer;

  &:hover {
    transform: scaleX(1.4);
  }
}
