.features__wrapper {
  margin-top: 27px;
  margin-bottom: 42px;

  @media (min-width: @tablet-width) {
    margin-top: 45px;
    margin-bottom: 102px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 71px;
    margin-bottom: 70px;
  }
}

.features__title {
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 72px;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 74px;
  }
}

.features__list {
  .list-style();
  margin-bottom: 45px;
  font-family: "Arial", "Helvetica", sans-serif;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 132px 58px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 240px;
    gap: 0 80px;
  }
}

.features__item {
  position: relative;
}

.features__item::before {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 280px;
    line-height: 280px;
    color: @basic-grey;
    z-index: -1;
  }
}

.features__item-1::before {
  @media (min-width: @tablet-width) {
    content: "1";
    top: -40px;
    left: 120px;
  }

  @media (min-width: @desktop-width) {
    right: 53px;
    bottom: 0;
  }
}

.features__item-2::before {
  @media (min-width: @tablet-width) {
    content: "2";
    top: -40px;
    left: 112px;
  }

  @media (min-width: @desktop-width) {
    bottom: 0;
    right: 36px;
  }
}

.features__item-3::before {
  @media (min-width: @tablet-width) {
    content: "3";
    top: -40px;
    left: 115px;
  }

  @media (min-width: @desktop-width) {
    bottom: 0;
    right: 36px;
  }
}

.features__item-4::before {
  @media (min-width: @tablet-width) {
    content: "4";
    top: -40px;
    left: 115px;
  }

  @media (min-width: @desktop-width) {
    bottom: 0;
    right: 2px;
  }
}

.features__icon {
  position: absolute;

  @media (min-width: @tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.features__desc {
  .text-typo-mob();
  margin-top: 0;
  margin-bottom: 27px;
  margin-left: 80px;

  @media (min-width: @tablet-width) {
    width: 230px;

    font-size: 16px;
    line-height: 24px;

    margin: 0;
    margin-top: 113px;
  }
}
