.features__wrapper {
  margin-top: 27px;
  margin-bottom: 42px;
}

.features__title {
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 38px;
}

.features__list {
  .list-style();
  margin-bottom: 42px;
  font-family: "Arial", "Helvetica", sans-serif;
}

.features__item {
  padding-left: 80px;
}

.features__desc {
  .text-typo-mob();
  margin-top: 0;
  margin-bottom: 20px;
}
