.form {
  @media (min-width: @tablet-width) {
    width: 630px;
    margin-left: 40px;
    margin-bottom: 56px;
  }

  @media (min-width: @desktop-width) {
    width: auto;
    margin-left: 0;
    margin-bottom: 83px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 80px;
  }
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  white-space: nowrap;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__fieldset--1 {
  @media (min-width: @desktop-width) {
    grid-column: ~"1/2";
  }
}

.form__fieldset--2 {
  @media (min-width: @desktop-width) {
    grid-column: ~"2/-1";
  }
}

.form__fieldset--3 {
  @media (min-width: @desktop-width) {
    grid-column: ~"1/-1";

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 80px;
  }
}

.form__fieldset--4 {
  @media (min-width: @desktop-width) {
    grid-column: ~"1/-1";
  }
}

.form__fieldset--5 {
  @media (min-width: @desktop-width) {
    grid-column: ~"1/-1";
  }
}

.form__fieldset p {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 10px 0;
  position: relative;

  @media (min-width: @tablet-width) {
    margin-bottom: 16px;
  }
}

.form__fieldset p:last-child {
  margin: 0;
}

.form__fieldset--3 p {
  @media (min-width: @tablet-width) {
    margin-bottom: 16px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.form__legend {
  font-size: 24px;
  line-height: 26px;
  width: 187px;
  text-transform: none;
  margin-bottom: 32px;
  margin-top: 23px;
  white-space: pre-wrap;
  position: relative;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    white-space: nowrap;

    margin-bottom: 74px;
    margin-top: 75px;
    background-color: @basic-white;
    width: max-content;
    padding-left: 39px;
    padding-right: 40px;
    margin-left: -39px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 69px;
  }
}

.form__legend::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: @basic-green;
  z-index: -1;
}

.form__legend-3::after {
  width: 100px;
  top: 15px;
  right: -110px;

  @media (min-width: @tablet-width) {
    width: 768px;
    top: 24px;
    left: -30px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    left: -70px;
  }
}

.form__legend-4 {
  margin-bottom: 37px;

  @media (min-width: @tablet-width) {
    margin-top: 64px;
    margin-bottom: 76px;
  }
}

.form__legend-4::after {
  width: 158px;
  top: 15px;
  right: -110px;

  @media (min-width: @tablet-width) {
    width: 768px;
    top: 24px;
    left: -30px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    left: -70px;
  }
}

.form__legend-5 {
  margin-bottom: 37px;

  @media (min-width: @tablet-width) {
    margin-top: 63px;
    margin-bottom: 62px;
  }
}

.form__legend-5::after {
  width: 136px;
  top: 15px;
  right: -110px;

  @media (min-width: @tablet-width) {
    width: 768px;
    top: 24px;
    left: -30px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    left: -70px;
  }
}

.form__label-item {
  margin-right: 14px;

  @media (min-width: @tablet-width) {
    margin-right: 17px;
  }
}

.form__input-item {
  border: 1px solid @border-grey;
  height: 45px;
  width: 100%;
  padding-left: 13px;

  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  color: @special-dark-grey;

  @media (min-width: @tablet-width) {
    height: 52px;
    padding-left: 19px;

    font-size: 20px;
    line-height: 30px;
  }
}

.form__input-item:hover {
  border: 1px solid @special-grey;
}

.form__input-item:invalid {
  outline: none;
  border: 1px solid @status-error;
}

.form__input-item:required {
  outline: none;
  border: 1px solid @border-grey;
}

.form__input-item:active,
.form__input-item:focus {
  outline: none;
  border: 1px solid @special-dark-grey;
}

.form__icon {
  position: absolute;
  right: 14px;
}

.form__radio-list {
  .list-style();
  margin: 50px 0 28px 0;
  position: relative;

  @media (min-width: @tablet-width) {
    margin: 75px 0 0 0;
    padding-top: 25px;
    padding-left: 28px;
    padding-bottom: 30px;
    border: 1px solid @basic-grey;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    margin-bottom: 0;
    border: 1px solid @basic-grey;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 0;
  }
}

.form__radio-list::before {
  content: "";
  position: absolute;
  width: 320px;
  height: 1px;
  background-color: #d9d9d9;
  top: -28px;
  left: -20px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.form__radio-list::after {
  content: "";
  position: absolute;
  width: 320px;
  height: 1px;
  background-color: #d9d9d9;
  bottom: -25px;
  left: -20px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.form__radio-item {
  padding-left: 45px;
  margin-bottom: 25px;
  position: relative;

  @media (min-width: @tablet-width) {
    padding-left: 62px;
    margin-bottom: 23px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 88px;
    margin-bottom: 27px;
  }
}

.form__radio-item:last-child {
  margin: 0;
}

.form__input-radio label {
  cursor: pointer;
  user-select: none;
  position: relative;
}

.form__input-radio + label::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid @special-grey;
  border-radius: 50%;
  top: -7px;
  left: 0;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
    top: -4px;
  }

  @media (min-width: @desktop-width) {
    left: 28px;
  }
}

.form__input-radio + label:hover::before {
  border: 1px solid #bababa;
}

.form__input-radio:disabled + label {
  opacity: 0.3;
}

.form__input-radio:checked + label::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: @basic-green;
  border-radius: 50%;
  top: 2px;
  left: 9px;

  @media (min-width: @tablet-width) {
    width: 18px;
    height: 18px;
    top: 8px;
    left: 12px;
  }

  @media (min-width: @desktop-width) {
    left: 40px;
  }
}

.form__textarea {
  height: 140px;
  width: 100%;
  border: 1px solid @basic-grey;
  padding: 9px 0 0 15px;

  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  color: @special-dark-grey;

  @media (min-width: @tablet-width) {
    height: 162px;
    width: 610px;
    padding: 10px 0 0 19px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.form__checkbox-list {
  .list-style();
  margin-bottom: 43px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 27px;
  }
}

.form__checkbox-item {
  padding-left: 46px;
  margin-bottom: 24px;
  position: relative;

  @media (min-width: @tablet-width) {
    width: 227px;
    padding-left: 60px;
    margin-bottom: 41px;
  }

  @media (min-width: @desktop-width) {
    width: 167px;
  }
}

.form__checkbox-item:last-child {
  margin: 0;

  @media (min-width: @tablet-width) {
    margin-bottom: 32px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 24px;
  }
}

.form__input-checkbox + label::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  border: 1px solid @special-grey;
  left: 0;
  top: -5px;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
    top: -4px;
  }
}

.form__input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 14px;
  background-image: url("../img/form-icon-check.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 2px;
  left: 6px;

  @media (min-width: @tablet-width) {
    background-size: 24px 19px;
    width: 24px;
    height: 18px;
    top: 9px;
    left: 9px;
  }
}

.form__input-checkbox + label:hover::before {
  border: 1px solid #bababa;
}

.form__input-checkbox:disabled + label {
  opacity: 0.3;
}

.form__button {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  width: 280px;
  padding: 11px 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;

    width: 282px;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
  }
}

.form__add-info {
  margin: 21px 0 32px 0;
  text-align: center;

  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 16px;
    text-align: end;
    margin: 0;

    position: relative;
    bottom: 37px;
    right: 107px;
  }

  @media (min-width: @desktop-width) {
    position: inherit;
    text-align: start;
    align-self: center;
  }
}
