.form-page__title {
  font-size: 36px;
  line-height: 36px;
  position: relative;

  margin: 39px 0 37px 0;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 60px 0 54px 40px;
  }

  @media (min-width: @desktop-width) {
    margin: 71px 0 56px 0;
  }
}

.form-page__title::before {
  content: "";
  position: absolute;
  width: 320px;
  height: 1px;
  background-color: #d9d9d9;
  top: -27px;
  left: -20px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.form-page__desc {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;

  margin-bottom: 37px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;

    margin-bottom: 63px;
    margin-left: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
  }
}
