.live-example {
  background-color: @bg-grey;
}

.live-example__title {
  font-size: 36px;
  line-height: 40px;
  padding-top: 27px;
  margin-bottom: 33px;
}

.live-example__desc {
  .text-typo-mob();
  font-family: "Arial", "Helvetica", sans-serif;
}

.live-example__stats-list {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
  margin-bottom: 27px;
}

.live-example__stats-number {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  padding-bottom: 14px;
}

.live-example__stats-desc {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: @special-dark-grey;
  text-align: center;
  margin: 0;
}

.live-example__expences {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 42px;
}

.live-example__slider {
  padding-bottom: 25px;
}

.live-example__fat-cat-pic,
.live-example__slim-cat-pic {
  margin-bottom: 27px;
}

.live-example__range-group {
  display: flex;
  justify-content: center;
}

.live-example__range-word {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
}

.live-example__range {
  width: 84px;
  margin: 0 13px;
}
