.main-nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.main-nav__toggle {
  margin-left: 75px
}

.main-nav__site-list {
  .list-style();
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;

  width: 320px;
  height: 200px;
  background-color: @basic-white;

  position: absolute;
  display: grid;
  align-self: center;
  justify-items: center;
  z-index: 2;
  top: 80px;
  margin-left: -212px;
}

.main-nav__site-item {
  border-top: 1px solid @border-grey;
  padding-top: 15px;
}
