.main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 440px;
  }

  @media (min-width: @desktop-width) {
    width: 478px;
  }
}

.main-nav__toggle {
  position: absolute;
  z-index: 2;
  display: block;
  width: 26px;
  height: 20px;
  background-color: @basic-white;
  padding: 0;
  top: 19px;
  right: 32%;

  cursor: pointer;
  border: none;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: @basic-black;
  box-shadow: 0 7px 0 0 @basic-black, 0 14px 0 0 @basic-black;
  top: 4px;
  left: 0;
}

.main-nav--closed .main-nav__site-list {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
  }

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 9px;
    width: 25px;
    height: 2px;
    background-color: @basic-black;
    left: 0;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__site-list {
  position: static;
  margin-top: 15px;
}

.main-nav__site-list {
  .list-style();
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;

  width: 320px;
  height: 200px;
  background-color: @basic-white;
  border-top: 1px solid @border-grey;

  position: absolute;
  display: grid;
  align-self: center;
  justify-items: center;
  z-index: 2;
  top: 64px;

  @media (min-width: @tablet-width) {
    position: initial;
    margin: 0;
    margin-top: 9px;
    display: flex;
    justify-content: space-between;
    width: 440px;
    height: auto;
    border: none;

    font-size: 18px;
    font-weight: 400;
  }

  @media (min-width: @desktop-width) {
    width: 478px;
    font-size: 20px;
    line-height: 30px;

    background-color: transparent;
    color: @basic-white;
  }

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: @border-grey;
    top: 65px;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 320px;
    height: 1px;
    background-color: @border-grey;
    bottom: 66px;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}

.main-nav__site-list--bg {
  @media (min-width: @desktop-width) {
    background-color: transparent;
    color: @basic-black;
  }
}

.main-nav__site-item {
  padding-top: 15px;
  position: relative;

  @media (min-width: @tablet-width) {
    padding: 0 0 8px 0;
    border: none;
  }
}

.main-nav__site-item--current {
  border-bottom: none;
  padding-bottom: 0;

  @media (min-width: @tablet-width) {
    border-bottom: 2px solid @basic-green;
  }

  @media (min-width: @desktop-width) {
    border-bottom: 2px solid @basic-white;
  }
}

.main-nav__site-item--current-bg {
  @media (min-width: @desktop-width) {
    border-bottom: 2px solid @basic-green;
  }
}

.main-nav__site-item:hover {
  opacity: 0.6;
}

.main-nav__site-item:active,
.main-nav__site-item:focus {
  opacity: 0.3;
}

.main-nav__site-item--current:hover {
  opacity: 1;
}

.main-nav__site-item--current:active,
.main-nav__site-item--current:focus {
  opacity: 1;
}
