.page-header {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;

  @media (min-width: @tablet-width) {
    margin-top: 25px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 53px;
  }
}

.page-header__logo {
  display: flex;
  align-items: center;
  z-index: 3;
}

.page-header__logo-pic {
  margin-right: 57px;

  @media (min-width: @tablet-width) {
    margin-right: 12px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 14px;
  }
}

.page-header__logo-pic img {
  width: 34px;
  height: 38px;

  @media (min-width: @tablet-width) {
    width: 61px;
    height: 50px;
  }

  @media (min-width: @desktop-width) {
    width: 71px;
    height: 59px;
  }
}

.page-header__logo-pic:hover {
  opacity: 0.8;
}

.page-header__logo-pic:active,
.page-header__logo-pic:focus {
  opacity: 0.6;
}

.page-header__logo-name img {
  width: 101px;
  height: 18px;

  @media (min-width: @tablet-width) {
    width: 102px;
    height: 19px;
  }

  @media (min-width: @desktop-width) {
    width: 118px;
    height: 22px;
  }
}

.page-header__logo-name:hover {
  opacity: 0.8;
}

.page-header__logo-name:active,
.page-header__logo-name:focus {
  opacity: 0.6;
}
