.page-footer {
  background-color: @basic-grey;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 39px 20px 22px 20px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

    padding: 55px 0 61px 0;
  }
}

.page-footer__logo-name img:hover {
  opacity: 0.8;
}

.page-footer__logo-name img:active,
.page-footer__logo-name img:focus {
  opacity: 0.6;
}

.page-footer__socials-list {
  .list-style();
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  margin: 52px 0 43px 0;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.page-footer__socials-item svg:hover path {
  fill: @basic-green;
}

.page-footer__socials-item svg:active path,
.page-footer__socials-item svg:focus path {
  fill: @basic-green;
  opacity: 0.3;
}

.page-footer__socials-item .page-footer__socials-facebook:hover path {
  fill: @basic-grey;
  stroke: @basic-green;
}

.page-footer__html-academy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 163px;
  }
}

.page-footer__html-academy img:active,
.page-footer__html-academy img:focus {
  opacity: 0.3;
}

.page-footer__html-academy svg:hover {
  fill: @basic-green;
}

.page-footer__html-academy svg:active,
.page-footer__html-academy svg:focus {
  fill: @basic-green;
  opacity: 0.3;
}
